<div class="page-header">
	<h1><%= @shelter.name %> <small><a href="http://<%= @shelter.address2.downcase %>" target="_blank"><%= @shelter.address2.downcase %></a></small></h1>

	<%= @shelter.id if Rails.env.development? %>

	<address>
	<%= @shelter.address1 %><br>
	<%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %><br>
	<abbr title="Phone">P:</abbr> <%= @shelter.phone %><br>
	<% if @shelter.fax.length > 1 %>
	<abbr title="Fax">F:</abbr> <%= @shelter.fax %><br>
	<% end %>
	<a href="mailto:#"><%= @shelter.email %></a>
	</address>
</div>
<div class="shelter-listings">
	<%= render 'layouts/pets_list' %>
</div>