<%= pet_list_info(@animal) %>
<% if !@petfinder.nil?; @petfinder.each do |pets| %>
<% if !pets.photos.empty? && !pets.description_sanitized.empty? %>
<div class="listing panel panel-default">
	<div class="panel-heading">
		<%= link_to pet_url(pets.id) do %>
		<h2 class="listing-title"><%= pets.name %></h2>
		<% end %>
	</div>
	<div class="panel-body">
		<% pets.photos.each do |cat_pics| %>
		<%= image_tag(cat_pics.medium, alt: "", class: "img-rounded") %>
		<% end %>
		<dl class="dl-horizontal">
			<dt>Shelter</dt>
			<dd><%= link_to find_shelter_name(pets.shelter_id), shelter_url(pets.shelter_id) %></dd>
			<dt>Description</dt>
			<dd><%= pets.description_sanitized %></dd>
			<dt>Category</dt>
			<dd><%= pets.animal %></dd>
			<dt>Info</dt>
			<dd><%= animal_info(pets) %></dd>
			<dt>Last Update</dt>
			<dd><%= time_ago_in_words(pets.last_update) %> ago</dd>
		</dl>
	</div>
</div>
<% end %>
<% end; end %>