<% if !@animal.eql?('view') %>
	<h1>
		<%= @animal %>
	</h1>
	<div class="alert alert-info alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  Showing <%= @animal.downcase %> near Grand Junction, CO
	</div>
<% end %>
<% if @animal.eql?('view') %>
	<h1>Now viewing:</h1>
<% end %>
<% if !@petfinder.nil?; @petfinder.each do |pets| %>
	<div class="listing">
		<%= link_to pets.id do %>
			<h2><%= pets.name %></h2>
		<% end %>
		<% pets.photos.each do |cat_pics| %>
			<%= image_tag(cat_pics.medium, alt: "", class: "img-rounded") %>
		<% end %>
		<p><%= pets.description_sanitized %></p>
	</div>
<% end; end %>